#page{
    overflow: auto;
}
header{
    background-color: #8f8f8f;
    min-height: 15vh;
}
main{
    min-height: 75vh;
    background-color: whitesmoke;
    display: grid;
}
footer{
    background-color: black;
    min-height: 10vh;
    opacity: 0.7;
}