<form class="container" #contactForm="ngForm" (ngSubmit)="OnSubmit()">

  <div class="panel panel-primary">
      <div class="panel-heading">
          <h3 class="panel-title">Contact Us</h3>
      </div>
      <div class="panel-body">
          <div class="form-group">
              <label>
                Subject:
              </label>
              <input name="subject" type="text" #uname class="form-control" id="sub" placeholder="Message subject"
                  [(ngModel)]="subject" required>
          </div>
          <div class="form-group">
              <label>
                  Email:
              </label>
              <p id="errMsg" *ngIf="errMsg">{{errMsg}}</p>
              <input name="email" #Msg type="email" class="form-control" id="eml" placeholder="example@gmail.com"
                  [(ngModel)]="senderMail" required>
          </div>
          <div class="form-group">
            <label>
               Message:
            </label>
            <textarea name="Message" #Msg class="form-control" id="msg" placeholder="Type your message.."
                [(ngModel)]="message" required></textarea>
        </div>
      </div>
      <div class="panel-footer">
          <button [disabled]="!contactForm.valid" title="All the fields need to be fill" type="submit"
              class="btn btn-default">Send</button>
      </div>
  </div>

</form>
